<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Image Upload Form</title>

    <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/popper.js/1.12.5/dist/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.5/dist/umd/popper.min.js}"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}">
    <script src="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.bairei.springrecipes.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mb-2 border-primary">
                <div class="card-header bg-primary text-white">
                    <h1 class="card-title">Upload a new recipe image</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <form  action="http:\\localhost" method="post" enctype="multipart/form-data"
                                   th:action="@{'/recipe/' + ${recipe.id} + '/image'}">
                                <label class="control-label">Select File</label>
                                <input id="imagefile" class="file mb-2" name="imagefile" type="file" >
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>